# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Temporary SQL patches
patch.sql
patch2.sql
